---

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  <meta name="google-site-verification" content="oc8QPR6IPiH68kgpdA2me1nzKfgRkwZcWBJbZC1hH7E" />
    <meta name="description" content="Especialistas en salud dental. Agenda tu atención con nosotros." />
    <title>Clínica Linda Sonrisa</title>
    <Analytics />
    <SpeedInsights />

  </head>
  <body class="bg-background font-sans text-text-base">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>


